@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <div class="container">
        <div class="row ">

            <div class="col-xs-4 col-centered">
                <h1>Welcome</h1>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row ">

        <div class="col-xs-4 col-centered">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title center">Welcome</h5>
                </div>

                <div class="panel-body">
                    <p class="panel">
                        This is a Video Rental App written in C# using the ASP.NET Framework.
                    </p>
                    <p class="panel">
                        Guest: guest@@vidly.com
                              pw: Rmit1234!
                    </p>
                    <p class="panel">
                        Admin: admin@@vidly.com
                              pw: Rmit1234!

                    </p>
                    <p class="panel">
                        Source code is available here <a href="https://github.com/rcdCamp/Vidly">https://github.com/rcdCamp/Vidly</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>