@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>
@if (Model.BirthDate.HasValue)
{
    <p>@Model.BirthDate.Value.ToShortDateString()</p>
}
<p>@Model.MembershipType.Name membership</p>

@if (Model.IsSubscribedToNewsLetter)
{
    <p>Is subscribed to newsletter</p>
}
else {
    <p>Is not subscribed to newsletter</p>
    }

<hr />

    <table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Rented</th>
            <th>Returned</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {

            toastr.options = {
                "positionClass": "toast-bottom-right"
            };
            
            renderTable();

            $("#rentals").on("click", ".js-delete", function () {
                var button = $(this);
                console.log(button.attr("data-movie-id"));
                bootbox.confirm("Are you sure you want to return this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rental/" + button.attr("data-movie-id"),
                            method: "post",
                            success: function () {
                                console.log("done.");
                            }
                        })
                            .done(function () {
                                toastr.success("Returned successfully");
                                $("#rentals").DataTable().destroy();
                                renderTable();
                            })
                            .fail(function () {
                                toastr.error("Something went wrong");
                            });
                    }
                });


            });

        });

        function renderTable(){
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/rental/"+@Model.Id,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "movieName"
                       
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            let date = new Date(data);
                            return date.toDateString();
                        }
                    },
                    {
                        data: {
                            "dateReturned": "dateReturned",
                            "id": "id"
                        },
                        render: function (data) {
                            if (data.dateReturned == null) {
                                return "<button class='btn btn-primary js-delete' data-movie-id='"+data.id+"'>Return</button>";
                            }
                            else {
                                let date = new Date(data.dateReturned);
                                return date.toDateString();
                            }
                        }
                       
                    }
                ]

            });
            return;
        }

    </script>

}

