<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a4f2b1f-571e-46de-8fe4-542ff74a0e25/resourcegroups/VidlyVideoRental/providers/Microsoft.Web/sites/Vidly20190501060713</ResourceId>
    <ResourceGroup>VidlyVideoRental</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vidly20190501060713.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vidly20190501060713.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Vidly20190501060713</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Vidly20190501060713</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vidly20190501060713dbserver.database.windows.net,1433;Initial Catalog=Vidly53740328492874928374834_db;User ID=Ayahuascax@vidly20190501060713dbserver;Password=Wonderwall91!" Name="Data Source=tcp:vidly20190501060713dbserver.database.windows.net,1433;Initial Catalog=Vidly53740328492874928374834_db;User Id=Ayahuascax@vidly20190501060713dbserver;Password=Wonderwall91!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vidly.Models.ApplicationDbContext, Vidly" MigrationConfiguration="Vidly.Migrations.Configuration, Vidly" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vidly20190501060713dbserver.database.windows.net,1433;Initial Catalog=Vidly53740328492874928374834_db;User Id=Ayahuascax@vidly20190501060713dbserver;Password=Wonderwall91!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>