@model IEnumerable<Vidly.Models.Movie>
    @{
        ViewBag.Title = "Display";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Movies</h1>
   
     

    <hr />
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>

@section scripts{
    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genreName.genreName"
                    }
                ]
            });


        });


    </script>
    }