
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Movie</th>
            <th>Rented</th>
            <th>Returned</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            toastr.options = {
                "positionClass": "toast-bottom-right"
            };

            renderTable();

            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);
                console.log(button.attr("data-movie-id"));
                bootbox.confirm("Are you sure you want to return this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rental/" + button.attr("data-movie-id"),
                            method: "post",
                            success: function () {
                                console.log("done.");
                            }
                        })
                            .done(function () {
                                toastr.success("Returned successfully");
                                $("#rentals").DataTable().destroy();
                                renderTable();
                            })
                            .fail(function () {
                                toastr.error("Something went wrong");
                            });
                    }
                });


            });

        });

        function renderTable(){
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/rental",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: { "customerName": "customerName", "customerId" : "customerId"},
                        render: function (data) {
                            return "<a href='/customer/Details/" + data.customerId + "'>" + data.customerName + "</a>";
                        }
                       
                    },
                    {
                        data: { "movieName" : "movieName", "movieId": "movieId"},
                        render: function (data) {
                            return "<a href='/movies/" + data.movieId + "'>" + data.movieName + "</a>";
                        }

                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            let date = new Date(data);
                            return date.toDateString();
                        }
                    },
                    {
                        data: {
                            "dateReturned": "dateReturned",
                            "id": "id"
                        },
                        render: function (data) {
                            if (data.dateReturned == null) {
                                return "<button class='btn btn-primary js-return' data-movie-id='"+data.id+"'>Return</button>";
                            }
                            else {
                                let date = new Date(data.dateReturned);
                                return date.toDateString();
                            }
                        }
                       
                    }
                ]

            });
            return;
        }
    </script>
    }